span{
    display: inline;
    font-size: 3em;
}

.container{
    height: 50px;
    width: auto;
}

button {
    background-color: white;
    border: 1px solid black;
    color: lightslategray;
    padding: 30px 30px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    box-shadow: 3px 6px 2px 5px rgba(0, 0, 0, 0.5);
}

button:hover{
    border: 2px solid green;
}